{% extends 'base.html' %}

{% block title %}User Info{% endblock %}

{% block body %}            

    <h1>User Information</h1>
    <div id="user-cont">
        <div id="img-cont" class="text-center">
            <img src="{{user.image_url}}" id="user-img">
        </div>
        <div id="user-info">
            <h5>{{ user.get_full_name() }}</h5>
            <div class="text-center" id="user-info-buttons">
                <a class="btn btn-warning" href="/users/{{user.id}}/edit">Edit</a>
                <form action="/users/{{user.id}}/delete" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div id="user-posts">
        <h3>{{user.first_name}}'s Posts</h3>
        <div id="posts">
            {% for post in posts %}
                <a href="/posts/{{post.id}}">{{post.title}}</a><br>
            {% endfor %}
        </div>
        <div class="text-center" id="user-info-buttons">
            <a class="btn btn-primary" href="/users/{{user.id}}/posts/new">Add Post</a>
        </div>
    </div>
{% endblock %}