/* Login and signup forms */

.account-form button {
  width: 4rem;
  margin-left: 80px;
}

#signup-form button {
  width: 8rem;
}

.account-forms-container {
  padding-left: 20px;
}

#profile-info{
  font-size: 0.9rem;
  margin: 20px 5px;
  list-style-type: none;
  font-weight: lighter;
}

.error{
  color: red;
  font-size: 10px;
  margin-left: 100px;
}