.CompaniesSearchForm{
    text-align: center;
    margin: 0px auto;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form{
    width: 100%;
}
form.d-flex{
    margin: auto auto;
}
