.JobCard{
    padding: 5px 20px 15px;
    margin: 0px auto 20px;
}

.card-title{
    font-size: 1.5em;
}
.card-subtitle a{
    text-decoration: none;
    
}

.JobCard-btn a{
    text-decoration: none;
    color: white;
    padding: 3px;
}
.JobCard-btn a:hover{
    color: white;
}
.JobCard-btn:hover{
    font-weight: bold;
}
.applied{
    cursor: none;
}